<div id="<%= dom_id ginasio %>">
  <p>
    <strong>Nome:</strong>
    <%= ginasio.nome %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= ginasio.rua %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= ginasio.bairro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= ginasio.numero %>
  </p>

  <p>
    <strong>Responsavel:</strong>
    <%= ginasio.responsavel %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= ginasio.telefone %>
  </p>

</div>
